* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  background: linear-gradient(
    135deg,
    #1e3c72,
    #2a5298
  ); /* Gradient background */
}
